.selectBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid blue; */
  height: 7rem;
  flex-wrap: wrap;
}

.selectRow {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 100%;
  height: auto;
  align-items: center;
}


.selectNode {
  z-index: 10;
  border: 2px solid var(--colorBorder);
  background-color: var(--colorPanelBG);
  width: .5rem;
  height: .5rem;
  cursor: pointer;
}

.selectMask {
  z-index: 0;
  border: 2px solid var(--colorBorder);
  top: 1.65rem;
  left: 8.75%;
  position: absolute;
  height: 6rem;
  width: 79.25%;
}

.adobe-inputGroup {
  /* flex-direction: column; */
}

.adobe-inputGroupRow, .inputMulti {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inputMulti {
  width: 100%;
  margin: .25rem;
}

.adobe-inputGroupRow{
  width: 45%;
}


.selectNode:hover{
  background-color: var(--colorHover);
  border-color: var(--colorIcon);
}


#E, #W {
  height: 4rem;
}

#N, #S {
  width: 60%;
}


.prefix {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: .25rem;
  color: rgba(255,255,255,.2);
  width: 1rem;
  user-select: none;
}
